body {
  background-color: #000533;
  color: #dde0ff;
  height: 100vh;
  overflow: hidden;
  cursor: none;
}

.indice {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 1;
}

#coord {
  position: fixed;
  top: 3rem;
  right: 3rem;
}

/* Shapes */
#square {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: my_animation;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  transform: translate(-50%, -50%);
}

#rectangle {
  width: 200px;
  height: 100px;
  background: red;
  animation-name: my_animation;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  transform: translate(-50%, -50%);
}

#circle {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
  animation-name: my_animation;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  transform: translate(-50%, -50%);
}

#oval {
  width: 200px;
  height: 100px;
  background: red;
  border-radius: 100px / 50px;
  animation-name: my_animation;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  transform: translate(-50%, -50%);
}

#parallelogram {
  width: 150px;
  height: 100px;
  transform: skew(20deg) translate(-50%, -50%);
  background: red;
  animation-name: my_animation;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
}

#egg {
  display: block;
  width: 126px;
  height: 180px;
  background-color: red;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  animation-name: my_animation;
  animation-duration: 5000ms;
  animation-fill-mode: forwards;
  transform: translate(-50%, -50%);
}

/* Animation to make elements disapear*/
@keyframes my_animation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
